/* Generic colors */

:root {
  --white: #fff;
  --translucid-white: #fff6;
  --lighter-gray: #e4e4e4;
  --light-gray: #d4d4d4;
  --gray: #a2a2a2;
  --dark-gray: #747474;
  --darker-gray: #313131;
  --black: #161616;
  --translucid-black: #16161666;
  --tangerine: #ff9e64;
  --russet: #794120;
  --dark-russet: #512b15;
  --darker-russet: #311a0d;
  --sky-blue: #7dcfff;
  --light-sky-blue: #b2e3ff;
  --lighter-sky-blue: #dbf2ff;
  --cornflower-blue: #234b90;
  --violet: #b69af7;
  --purple: #5a3e8e;
}

/* Light color scheme */

:root {
  --bg-color: var(--white);
  --translucid-bg-color: var(--translucid-white);
  --text-color: var(--darker-gray);
  --header-color: var(--lighter-gray);
  --border-color: var(--gray);
  --icon-color: var(--darker-gray);
  --disabled-icon-color: var(--gray);

  --button-bg-color: var(--white);
  --button-hover-bg-color: var(--lighter-gray);
  --button-disabled-bg-color: var(--lighter-gray);

  --header-button-bg-color: var(--light-gray);

  --tab-bg-color: var(--white);
  --tab-hover-bg-color: var(--lighter-gray);
  --tab-active-bg-color: var(--light-gray);

  --highlight-color: var(--sky-blue);
  --secondary-highlight-color: var(--light-sky-blue);
  --tertiary-highlight-color: var(--lighter-sky-blue);

  --line-num-color: var(--dark-gray);
  --secondary-code-bg-color: var(--lighter-gray);
}

/* Dark color scheme */

:root.dark {
  --bg-color: var(--black);
  --translucid-bg-color: var(--translucid-black);
  --text-color: var(--white);
  --header-color: var(--darker-gray);
  --border-color: var(--lighter-gray);
  --icon-color: var(--white);
  --disabled-icon-color: var(--gray);

  --button-bg-color: var(--black);
  --button-hover-bg-color: var(--darker-gray);
  --button-disabled-bg-color: var(--dark-gray);

  --header-button-bg-color: var(--dark-gray);

  --tab-bg-color: var(--black);
  --tab-hover-bg-color: var(--darker-gray);
  --tab-active-bg-color: var(--dark-gray);

  --highlight-color: var(--russet);
  --secondary-highlight-color: var(--dark-russet);
  --tertiary-highlight-color: var(--darker-russet);

  --line-num-color: var(--gray);
  --secondary-code-bg-color: var(--darker-gray);
}